@inherits MagicMenu;
@*
File Purpose:       Show a vertical menu, usually used for mobile or sidebar
Recommendations:    See `MenuDefault.razor`
Nice to know:       See `MenuDefault.razor`
*@
@if (Menu.HasChildren)
{
    <ul class='@Menu.Classes("ul")'>
        @foreach(var menuPage in Menu.Children)
        {
            <li class='@menuPage.Classes("li")'>
                <a class='@menuPage.Classes("a")' href='@menuPage.Link' target='@menuPage.Target'
                   >@menuPage.Name</a>

                @if (menuPage.HasChildren)
                {
                    <span class='@menuPage.Classes("span")'
                          data-bs-toggle='collapse'
                          data-bs-target='@menuPage.Value("data-bs-target")'
                          aria-expanded='@menuPage.InBreadcrumb'></span>
                    <MenuVertical Menu="@menuPage"></MenuVertical>
                }
            </li>
        }
        @* Debug Information as things can get complex *@
        <MagicMenuDebug Menu="@Menu"></MagicMenuDebug>
    </ul>
}