@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Client.Breadcrumbs
@using ToSic.Theme.Cre8magicTests.Client
@inherits ThemeControlBase;

@code {
    [Parameter/* , EditorRequired */]
    public MagicBreadcrumb Breadcrumb { get; set; }
}
@{
    // default
    Breadcrumb ??= new MagicBreadcrumb(PageState).Designer(new BasicBreadcrumbDesigner());
}
<nav aria-label="breadcrumb">
    <ol class='@Breadcrumb.Classes("ol")'>
        @foreach (var item in Breadcrumb.Items)
        {
            <li class='@item.Classes("li")' aria-current='@item.Value("aria-current")'>
                @if (item.IsActive)
                {
                    <span class='@item.Classes("span")'>@item.Name</span>
                } else {
                    <a href="@item.Link" class='@item.Classes("a")'>@item.Name</a>
                }
            </li>
        }
    </ol>
</nav>
