@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Client.Menus
@inherits ThemeControlBase;

@code{
    [Parameter, EditorRequired]
    public MagicMenuPage Menu { get; set; }
}

<ul class='@Menu.Classes("li")'>
    @foreach (var menuPage in Menu.Children)
    {
        <li class='@menuPage.Classes("li")'>
            <a class='@menuPage.Classes("a")' href="@menuPage.Page.Link" target="@menuPage.Page.Target">@menuPage.Page.Name</a>
            @if (menuPage.HasChildren)
            {
                <span class='@menuPage.Classes("span")'></span>
                <BasicMenu Menu="@menuPage" />
            }
        </li>
    }
</ul>


