@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Client.Breadcrumbs
@inherits ThemeControlBase;

@code {
    [Parameter, EditorRequired]
    public MagicBreadcrumb Breadcrumb { get; set; }
}
<nav aria-label="breadcrumb">
    <ol class='@Breadcrumb.Classes("ol")'>
        @foreach (var item in Breadcrumb.Items)
        {
            <li class='@item.Classes("li")' aria-current='@item.Value("aria-current")'>
                @if (item.IsActive)
                {
                    @item.Name
                } else {
                    <a href="@item.Link">@item.Name</a>
                }
            </li>
        }
    </ol>
</nav>
